name: tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  pytest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r requirements-dev.txt

      - name: Run tests
        env:
          DJANGO_SECRET_KEY: "ci-secret-key"
          DJANGO_DEBUG: "0"
          DJANGO_ALLOWED_HOSTS: "127.0.0.1,localhost"
          WHITENOISE_MANIFEST_STRICT: "0"
          STRIPE_WEBHOOK_SECRET: "whsec_test_dummy"
        run: |
            pytest --cov=catalog --cov=cart --cov=orders --cov=payments --cov-report=term-missing --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: ./coverage.xml
          fail_ci_if_error: true


